[submodule "HoloLensForCV"]
	path = HoloLensForCV
	url = git@github.com:doughtmw/HoloLensForCV.git
[submodule "NuGet-Package-Creation"]
	path = NuGet-Package-Creation
	url = git@github.com:doughtmw/NuGet-Package-Creation.git
[submodule "HoloLensCamCalib"]
	path = HoloLensCamCalib
	url = https://github.com/doughtmw/HoloLensCamCalib.git
